/* assets/style.css */

body {
  background-color: #111;
  color: #33ff33;
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding: 2rem;
}

a {
  color: #00ffff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header, nav {
  margin-bottom: 2rem;
  border-bottom: 1px solid #444;
  padding-bottom: 0.5rem;
}

nav a {
  margin-right: 1rem;
  color: #33ff33;
}

pre {
  background: #222;
  padding: 1.5em; /* Aumenta o padding para mais espaço interno */
  border-radius: 5px;
  overflow-x: auto;
  color: #eee;
  font-size: 1.2em; /* Aumenta o tamanho da fonte */
  line-height: 1.6; /* Melhora a leitura */
}

code {
  background: #222;
  padding: 4px 8px; /* Aumenta o padding para destacar mais */
  border-radius: 4px;
  color: #00ffcc;
  font-size: 1.1em; /* Aumenta um pouco o tamanho da fonte */
}

h1, h2, h3 {
  color: #00ff99;
}
