<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% include head.html %}
</head>
<body>
  <header>
    <nav>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/tutoriais/tutorial1' | relative_url }}">Arquivo de entrada</a>
      <a href="{{ '/tutoriais/fe_tutorial.md' | relative_url }}">Hands-on: Fe</a>
      <a href="{{ '/tutoriais/hpc.md' | relative_url }}">Hands-on: HPC</a>
      <a href="{{ '/tutoriais/projbands.md' | relative_url }}">Bandas projetadas</a>
      <a href="{{ '/tutoriais/fermi_surf.md' | relative_url }}">Superfície de Fermi</a>
      <a href="{{ '/tutoriais/elf.md' | relative_url }}">ELF</a>
      <a href="{{ '/tutoriais/dft_u.md' | relative_url }}">DFT+U</a>
    </nav>

    <!-- Adicionando o título entre as linhas horizontais -->
    <div class="site-title">
      <h1>ComputEEL/MatSci/Tutoriais</h1>
    </div>
  </header>

  <main>
    {{ content }}
  </main>
</body>
</html>
