<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% include head.html %}
</head>
<body>
  <header>
    <nav>
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/tutoriais/tutorial1.md' | relative_url }}">Arquivo de entrada</a>
      <a href="{{ '/tutoriais/tutorial2.md' | relative_url }}">Tutorial 2</a>
    </nav>

    <!-- Adicionando o título entre as linhas horizontais -->
    <div class="site-title">
      <h1>ComputEEL/MatSci/Tutoriais</h1>
    </div>
  </header>

  <main>
    {{ content }}
  </main>
</body>
</html>
